<div
  class='modal fade'
  id='Modal_notify'
  tabindex='1'
  data-bs-backdrop='static'
>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title'>Booking Confirm</h5>
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='modal'
          aria-label='Close'
          {{on 'click' this.next}}
        ></button>
      </div>
      {{#if @detail.booked}}
        <div class='modal-body'>House number {{@detail.number}} is booked</div>
      {{else}}
        <div class='modal-body'>House number
          {{@detail.number}}
          is not available.Try booking other House</div>
      {{/if}}
      <div class='modal-footer'>
        <button
          type='button'
          class='btn btn-danger'
          data-bs-dismiss='modal'
          {{on 'click' (fn this.next @detail)}}
        >Close</button>
      </div>
    </div>
  </div>
</div>